<div class="p-3 mb-2 bg-primary text-white">
  <h1>マイページ</h1>
</div>
<div class="container py-4" id="works">
  <b>名前</b>
  <p><%= @customer.name %></p></br>
  <b>メールアドレス</b>
  <p><%= @customer.email %></p>
</div>
<div class="col">
  <button type="button" class="button"><%= link_to "編集",edit_customer_path(current_customer.id) %></button>
</div>
<div class="container py-4" id="works">
  <% @souvenirs.each do |souvenir| %>
    <%= link_to souvenir_path(souvenir.id) do %>
      <div><%= image_tag souvenir.image, size: "400x200" %></div>
    <% end %>
      <div><%= souvenir.prefecture.name %></div>
        <b>商品名</b>
        <%= souvenir.item_name %>
      <div>
        <b>￥</b>
        <%= souvenir.price %>
      </div>
      <div>
        <b>コメント</b>
        <%= souvenir.body %>
      </div>
      <div>
        <button type="button" class="button"><%= link_to "編集",edit_souvenir_path(souvenir.id) %></button>
        <button type="button" class="button"><%= link_to "削除",souvenir_path(souvenir.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></buttun>
      </div>
  <% end %>
</div>