
<div class="p-3 mb-2 bg-info text-white">
<h4>投稿商品編集</h4>
<%= form_with model: @souvenir do |f| %>

<h3>都道府県県を選択してください</h3>
  <% (0..8).each do |region_id| %>
    <h5><%= I18n.t("prefectures.region.#{Prefecture.where(region: region_id).first.region}") %></h5>
      <div>
        <%= f.collection_radio_buttons(:prefecture_id, Prefecture.where(region: region_id), :id, :name, include_hidden: false) %>
      </div>
  <% end %>


 <h4>商品名</h4>
 <%= f.text_field :item_name %>

 <h4>値段（だいたい）</h4>
 <%= f.text_field :price %>

 <h4>商品写真</h4>
 <%= f.file_field :image, accept: "image/*" %>

 <h4>コメント</h4>
 <%= f.text_area :body %>

 <h4>ジャンル</h4>
 <%= f.collection_radio_buttons(:genre_id, Genre.all, :id, :genre_name) %>

 <%= f.submit '変更' %>
<% end %>
</div>