

<h4>投稿商品編集</h4>
<%= form_with model: @souvenir do |f| %>

<h3>都道府県県を選択してください</h3>
 <div>
  <%= f.collection_radio_buttons(:prefecture_id, Prefecture.where(region: 0), :id, :name) %>
 </div>
 <div>
  <%= f.collection_radio_buttons(:prefecture_id, Prefecture.where(region: 1), :id, :name, include_hidden: false) %>
 </div>
 <div>
  <%= f.collection_radio_buttons(:prefecture_id, Prefecture.where(region: 2), :id, :name, include_hidden: false) %>
 </div>
 <div>
  <%= f.collection_radio_buttons(:prefecture_id, Prefecture.where(region: 3), :id, :name, include_hidden: false) %>
 </div>
 <div>
  <%= f.collection_radio_buttons(:prefecture_id, Prefecture.where(region: 4), :id, :name, include_hidden: false) %>
 </div>
 <div>
  <%= f.collection_radio_buttons(:prefecture_id, Prefecture.where(region: 5), :id, :name, include_hidden: false) %>
 </div>
 <div>
  <%= f.collection_radio_buttons(:prefecture_id, Prefecture.where(region: 6), :id, :name, include_hidden: false) %>
 </div>
 <div>
  <%= f.collection_radio_buttons(:prefecture_id, Prefecture.where(region: 7), :id, :name, include_hidden: false) %>
 </div>
 <div>
  <%= f.collection_radio_buttons(:prefecture_id, Prefecture.where(region: 8), :id, :name, include_hidden: false) %>
 </div>
 

 <h4>商品名</h4>
 <%= f.text_field :item_name %>

 <h4>値段（だいたい）</h4>
 <%= f.text_field :price %>

 <h4>商品写真</h4>
 <%= f.file_field :image, accept: "image/*" %>

 <h4>商品説明</h4>
 <%= f.text_area :body %>

 <h4>ジャンル</h4>
 <%= f.collection_radio_buttons(:genre_id, Genre.all, :id, :genre_name) %>

 <%= f.submit '変更' %>
<% end %>