<div class="p-3 mb-2 bg-primary text-white">
   <h2>おみやげ一覧</h2>
</div>

<div class="container py-4" id="works">
  <% @souvenirs.each do |souvenir| %>
  <%= link_to souvenir_path(souvenir.id) do %>
   <tr>
     <tb><%= image_tag souvenir.get_image, size: "400x200" %></tb>
   </tr>
  <% end %>
   <tr>
     商品名 <%= souvenir.item_name %>
   </tr>
   <tr>
     ¥<%= souvenir.price %>
   </tr>
   <tr>
     コメント<%= souvenir.body %>
   </tr>
  <% if souvenir.favorited_by?(current_customer) %>
   <p>
     <%=link_to favorites_path(sourvenir_id: souvenir), method: :delete do %>
     ♥<%= souvenir.favorites.count %> お気に入り
   </p>
  <% end %>
<% else %>
 <p>
  <%=link_to favorites_path(sourvenir_id: souvenir), method: :post do %>
   ♥<%= souvenir.favorites.count %> お気に入り
  <% end %>
 </p>
<% end %>

<% end %>
</div>
