<h3>おみやげ一覧</h3>

<% @souvenir.each do |souvenir| %>
<%= link_to souvenir_path(souvenir.id) do %>
 <tr>
    <tb><%= image_tag souvenir.image, size: "200x200" %></tb>
 </tr>
 <% end %>
 <tr>
  <%= souvenir.item_name %>
 </tr>
 <tr>
  ¥<%= souvenir.price %>
 </tr>
 <tr>
  <%= souvenir.body %>
 </tr>

<% end %>

<% if @souvenir.favorited_by?(current_customer) %>
 <p>
  <%=link_to favorites_path(@souvenir), method: :delete do %>
   ♥<%= @souvenir.favorites.count %> いいね
  <% end %>
 </p>
<% else %>
 <p>
  <%=link_to favorites_path(@souvenir),method: :post do %>
   ♥<%= @souvenir.favorites.count %> いいね
  <% end %>
 </p>
<% end %>