<div class="p-3 mb-2 bg-primary text-white">
   <h2>おみやげ一覧</h2>
</div>

<div class="container py-4" id="works">
  <div class="row">
    <% @souvenirs.each do |souvenir| %>
      <div class="col-md-6 col-lg-4">
        <%= link_to souvenir_path(souvenir.id) do %>
         <div>
           <%= image_tag souvenir.get_image, class: "img-fluid", style: "width: 100%; height: 150px; object-fit: cover;" %>
         </div>
        <% end %>
         <div>
          都道府県 <%= souvenir.prefecture.name %>
         </div>
         <div>
           商品名 <%= souvenir.item_name %>
         </div>
         <div>
           ¥<%= souvenir.price %>
         </div>
         <div>
           コメント<%= souvenir.body %>
         </div>
        <% if souvenir.favorited_by?(current_customer) %>
         <p>
           <%=link_to favorites_path(sourvenir_id: souvenir), method: :delete do %>
           ♥<%= souvenir.favorites.count %> お気に入り
           <% end %>
         </p>
        <% else %>
       <p>
        <%=link_to favorites_path(sourvenir_id: souvenir), method: :post do %>
         ♥<%= souvenir.favorites.count %> お気に入り
        <% end %>
       </p>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
