<div class="p-3 mb-2 bg-primary text-white">
  <h2>お土産検索</h2>
</div>
<div class="p-3 mb-2 bg-primary-subtle text-emphasis-primary">
  <p>都道府県を選択してください(※地図が表示されない場合はリロードをしてください）</p>
</div>

<div class="container py-4" id="works">
  <% if @souvenirs.length.zero? %>
    検索結果がありませんでした
  <% else %>
    <% @souvenirs.each do |souvenir| %>
      <%= link_to souvenir_path(souvenir.id) do %>
        <div class="container py-4" id="works"><%= image_tag souvenir.image, size: "400x200" %></div>
      <% end %>
        <div class="card-text"><%= I18n.t("prefectures.#{souvenir.prefecture.id}") %></div>
        <div>
          <b>商品名</b>
          <%= souvenir.item_name %>
        </div>
        <div>
          <b>コメント</b>
          <%= souvenir.body %>
        </div>
        <div>
          <b>¥</b>
          <%= souvenir.price %>
        </div>
        <% if souvenir.favorited_by?(current_customer) %>
        <p>
          <%=link_to favorites_path(sourvenir_id: souvenir, search_prefecture_id: params[:prefecture_id]), method: :delete do %>
          ♥<%= souvenir.favorites.count %>
          <% end %>
        </p>
      <% else %>
        <p>
          <%=link_to favorites_path(sourvenir_id: souvenir, search_prefecture_id: params[:prefecture_id]), method: :post do %>
          ♥<%= souvenir.favorites.count %> 
        </p>
          <% end %>
       <% end %>
     <% end %>
  <% end %>
</div>

<div class="container">
  <div id="map-container">

  </div>
</div>