<div class="p-3 mb-2 bg-primary text-white">
   <h2>お土産詳細ページ</h2>
</div>


<p><%= image_tag @souvenir.image, size: "200x200" %></p>
<p>都道府県 <%= @souvenir.prefecture.name %></p>
<p>商品名<%= @souvenir.item_name %></p>
<p> ¥<%= @souvenir.price %></p>
<p>コメント<%= @souvenir.body %></p>

<div>
  <% if @souvenir.comments.present? %>
   <p>コメント件数：<%= @souvenir.comments.count %></p>
  <% else %>
   <p>コメントはまだありません.</p>
  <% end %>
  <% @souvenir.comments.each do |comment| %>
    <%= image_tag comment.customer.get_profile_image %>
    <%= comment.customer.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.customer == current_customer %>
     <%= link_to "削除", souvenir_comment_path(souvenir_id: @souvenir.id, id: comment.id), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@souvenir, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.hidden_field :souvenir_id, :value => @souvenir.id %>
    <%= f.hidden_field :customer_id, :value => @customer.id %>
    <%= f.submit "送信する" %>
  <% end %>
</div>